<% provide(:title, 'Admin') %>

<h1>Admin Settings</h1>

<%= form_tag do %>
  <table>
    <% AdminHelper::SETTINGS.each do |s| %>
      <tr>
        <td><%= label_tag("settings[#{s[:key]}]", s[:label]) %></td>
        <% if s[:textarea] %>
          <td><%= text_area_tag("settings[#{s[:key]}]", AdminSetting.get(s[:key]), size: "60x5") %></td>
        <% else %>
          <td><%= text_field_tag("settings[#{s[:key]}]", AdminSetting.get(s[:key]), size: s[:size] || 40) %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan="2"><%= submit_tag('Update') %></td>
    </tr>
  </table>
<% end %>
