<header>
  <div id="corp-banner">
    <%= link_to(root_url) do %>
      <%= corp_logo_tag %>
      <span><%= AdminSetting.get(:corp_name) %></span>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Signup', controller: 'users', action: 'signup' %></li>
      <li><%= link_to 'Login', controller: 'users', action: 'login' %></li>
      <li><%= link_to 'Admin', controller: 'admin', action: 'index' %></li>
    </ul>
  </nav>
</header>
<% flash.each do |name, msg| %>
  <div class="flash"><%= name %>: <%= msg %></div>
<% end %>
