<header>
  <div id="corp-banner">
    <%= link_to(root_url) do %>
      <%= corp_logo_tag %>
      <span><%= AdminSetting.get(:corp_name) %></span>
    <% end %>
  </div>
  <nav>
    <ul>
      <% if @user %>
        <li><%= @user.name %></li>
        <% if @user.admin? %>
          <li><%= link_to 'Admin', controller: 'admin', action: 'index' %></li>
        <% end %>
        <li><%= link_to 'Logout', {controller: 'users', action: 'logout'}, method: :post %></li>
      <% else %>
        <li><%= link_to 'Login', controller: 'users', action: 'login' %></li>
        <li><%= link_to 'Signup', controller: 'users', action: 'signup' %></li>
      <% end %>
    </ul>
  </nav>
</header>
<% flash.each do |type, message| %>
  <div class="flash <%= type %>"><%= message %></div>
<% end %>
