<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= get_title(yield(:title)) %></title>
    <% [32, 64, 128, 256].each do |size| %>
      <%= favicon_link_tag corp_logo_url(size), type: 'image/png', sizes: "#{size}x#{size}" %>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
